@use "../../foundation/variable" as *;

.c-breadcrumbs {
  background-color: $color-breadcrumbs;
  align-items: center;

  ol {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    height: 3.6rem;

    @include pc {
      height: 5rem;
      column-gap: 1.9rem;
    }
  }

  li:not(:last-child)::after {
    content: ">";
    margin-left: 2rem;

    @include pc {
      margin-left: 1.8rem;
    }
  }
}
