@use "../../foundation/variable" as *;

.c-breadcrumbs {
  background-color: $color-breadcrumbs;
  align-items: center;

  ol {
    display: flex;
    column-gap: 2rem;
    align-items: center;

    @include pc {
      column-gap: 1.9rem;
    }
  }
  a {
    display: inline-block;
    font-size: 1.6rem;
    // padding-block: 0.3rem;

    @include pc {
      padding-block: 1rem;
    }
  }

  .c-breadcrumbs__arrow {
    margin-left: 1.2rem;
  }
}
