@use "../../foundation/variable" as *;

.c-body-text {
    font-size: 1.6rem;
    line-height: calc(30 / 16);

    @include pc {
        font-size: 1.8rem;
        line-height: calc(33 / 18);
    }
}

.c-body-text--red {
    font-weight: 700;
    color: $color-main;

    @include pc {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
    }
}