@use "../../foundation/variable" as *;

.c-contact-btn {
  position: fixed;
  right: 2rem;
  bottom: 30.4rem;
  border: 0.1rem solid $color-main;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.4s,
    visibility 0.4s,
    background-color 0.4s,
    color 0.4s;
  width: 33.5rem;
  height: 6rem;
  background-color: $color-main;
  font-size: 2rem;
  line-height: calc(33 / 20);
  font-weight: 700;
  display: grid;
  place-items: center;
  color: #fff;

  @include pc {
    width: 30rem;
    bottom: 26.8rem;
    letter-spacing: 0.4rem;
    right: 0;
    cursor: pointer;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;

    @include pc-hover {
      background-color: #fff;
      color: $color-main;
      // opacity: 0.7;
    }
  }
}
